<!-- lachana/templates/contents/news_detail.html -->

{% extends 'base_private_template.html' %}
{% load static %}
{% block content %}
<main class="container text-body main-product_detail">
    <section class="main-section">
        <!-- Breadcrumb -->
        <div class="row breadcrumb">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 d-flex">
                <li class="nav-item">
                    <a href="/" 
                    class="breadcrumb-link text-body">Accueil</a>>
                </li>
                <li class="nav-item">
                    {% if event_detail.start_date > now %}
                        <a href="{% url 'event-list-new' %}"
                    {% else %}
                        <a href="{% url 'event-list-old' %}"
                    {% endif %}
                        class="breadcrumb-link text-body">Les évènements</a>>
                </li>
                <li class="nav-item">
                    <span class="breadcrumb-link text-body">{{ event_detail.title }}</span>
                </li>
            </ul>
        </div>
        <!-- End breadcrumb -->
        <div class="page-title-block">
            <h1 class="page-title">Les évènements</h1>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="messages alert alert-{{ message.tags }} d-flex align-items-center alert-dismissible fade show" role="alert" {% endif %}>
                    <i class="bi bi-check-circle-fill comment-message"></i>  {{ message }}
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <article class="row event-detail justify-content-center text-muted">
            <div class="event-detail-date {{ event_detail.category|lower }}-color">{{ event_detail.start_date|date:"l j F Y"|capfirst }}</div>
            <div class="event-detail-title {{ event_detail.category|lower }}-color">{{ event_detail.title }}</div>
            <div class="row event-detail-category {{ event_detail.category|lower }}-color">
                <div class="col-lg-3">
                    {% with 'dist/assets/img/'|add:'img-'|add:event_detail.category|lower|add:'.png' as image %}
                        <img src="{% static image %}"  class="content-list-item-img" />
                    {% endwith %}
                </div>
                <div class="col-lg-9">
                    <div class="event-detail-marker">Heure de début : {{ event_detail.start_date|time:"H:i" }}</div>
                    <div class="event-detail-marker">Heure de fin   : {{ event_detail.end_date|time:"H:i" }}</div>
                    <div class="event-detail-marker">Durée : {{ event_detail.start_date|timesince:event_detail.end_date }}</div>
                    {% if event_detail.start_date > now %}
                        <div class="event-detail-marker">L'évènement a lieu dans {{ event_detail.start_date|timeuntil }}</div>
                    {% else %}
                        <div class="event-detail-marker">L'évènement s'est terminé il y a {{ event_detail.end_date|timesince }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="event-detail-content">{{ event_detail.content }}</div>
            <div class="event-detail-img-block"><img src="{{event_detail.image.url}}" class="event-detail-img" /></div>
        </article>
        <hr class="content-separator">
        <div class="row content-detail-btn justify-content-between">
            {% if event_detail.get_previous_by_creation_date %}
            <div class="col-lg-4 mt-4">
                <button class="d-flex align-items-center light-btn font-0"
                        onclick="window.location.href='{% url 'event-detail' event_detail.get_previous_by_creation_date.uuid %}';"
                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Voir l'évènement précédent (plus ancien)">
                    <i class="bi bi-arrow-left content-detail-btn-icon content-detail-btn-icon-left"></i> Evènement précédent
                </button>
            </div>
            {% else %}
            <div class="col-lg-3 mt-4"></div>
            {% endif %}
            <div class="col-lg-4 mt-4 d-flex justify-content-center">
                <button 
                    {% if event_detail.start_date > now %}
                        onclick="window.location.href='{% url 'event-list-new' %}';"
                    {% else %}
                        onclick="window.location.href='{% url 'event-list-old' %}';"
                    {% endif %}
                        class="d-flex align-items-center light-btn font-0 content-nav-central-btn"
                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Voir tous les évènements à venir">
                    Retour à la liste des évènements
                </button>
            </div>
            {% if event_detail.get_next_by_creation_date %}
            <div class="col-lg-4 mt-4 d-flex justify-content-end">
                <button class="d-flex align-items-center light-btn font-0"
                        onclick="window.location.href='{% url 'event-detail' event_detail.get_next_by_creation_date.uuid %}';"
                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Voir l'évènement suivant (plus récent)">
                    Evènement suivant <i class="bi bi-arrow-right content-detail-btn-icon content-detail-btn-icon-right"></i>
                </button>
            </div>
            {% else %}
            <div class="col-lg-3 mt-4"></div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock content %}
{% block contact %}{% endblock contact %}