<!-- lachana/contents/templates/contents/event_delete.html -->
{% extends 'base_private_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main class="container">
    <section class="profile-header d-flex flex-column align-items-center text-green">
        <div class="d-flex profile-header-img-container justify-content-center align-items-center">
            {% with 'dist/assets/img/'|add:'img-'|add:event.category|lower|add:'.png' as image %}
                <img src="{% static image %}"  class="content-list-item-img" />
            {% endwith %}
        </div>
        <h1 class="profile-header-title">{{ event.title }}</h1>
        <div class="profile-header-subtitle">Supprimer l'évènement</div>
        <p class="header-intro text-start">
            Etes-vous sûr(e) de vouloir supprimer cet évènement ? Si oui, remplissez et validez le formulaire ci-dessous.<br>Les champs marqués d'une étoile * sont obligatoires.
        </p>
    </section>
    <section class="d-flex flex-column profile-update-content text-body">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}   
            {{ event_delete_form|crispy }}
            <button class="dark-btn update-validate-btn" type="submit">Valider</button>
            <button class="light-btn update-cancel-btn"
                    onclick="window.location.href='{% url 'event-detail' uuid=event.uuid %}';">
                Annuler
            </button>
        </form>
        
    </section>
</main>
{% endblock content %}