<!-- lachana/templates/contents/faq_list.html -->

{% extends 'base_private_template.html' %}
{% load static %}
{% block content %}
    <main class="container text-body">
        <div class="main-section">
            <div class ="d-flex justify-content-between align-items-start">
                <!-- Breadcrumb -->
                <div class="breadcrumb d-flex flex-row text-darkgreen">
                    <ul class="my-2 my-lg-0">
                        <li class="nav-item">
                            <a href="/" class="breadcrumb-link">Accueil</a>/
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'faq-cat-list' %}" class="breadcrumb-link">Vos questions</a>/
                        </li>
                        <li class="nav-item">
                            <span class="breadcrumb-link">{{ current_category }}</span>
                        </li>
                    </ul>
                </div>
                <!-- End breadcrumb -->
                {% if user.is_staff %}
                    <div class="d-flex admin-btn-zone justify-content-end">
                        <button class="col-lg-5 dark-btn font-0 align-self-center"
                                onclick="window.location.href='{% url 'faq-create' %}';">
                            Créer une question
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="page-title-block">
                <h1 class="page-title">Vos questions</h1>
                <h2 class="page-subtitle">{{ current_category }}</h2>
            </div>
            {% include "pagination.html" with page_range=page_range_top pagination_css="pagination-top" %}
            {% if faq_category is none %}
                <section class="intro-section">
                    <div class="main-instructions d-flex justify-content-center">
                        <span class="font-weight-bold text-body text-danger">
                            Il n'y a aucune question à afficher.
                        </span>
                    </div>
                </section>
            {% else %}
                <section class="main-section">
                    <div class="accordion open" id="faqItems">
                        {% for faq in faq_category %}
                            <div class="accordion-item">
                                <div class="accordion-header faq-list-question" id="{% cycle 'headingOne' 'headingTwo' 'headingThree' 'headingFour' 'headingFive' %}">
                                    <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#{% cycle 'collapseOne' 'collapseTwo' 'collapseThree' 'collapseFour' 'collapseFive' %}" 
                                        aria-expanded="false"
                                        aria-controls="{% cycle 'collapseOne' 'collapseTwo' 'collapseThree' 'collapseFour' 'collapseFive' %}">
                                        {{ faq.question }}
                                    </button>
                                </div>
                                <div class="accordion-collapse collapse" id="{% cycle 'collapseOne' 'collapseTwo' 'collapseThree' 'collapseFour' 'collapseFive' %}" 
                                    aria-labelledby="{% cycle 'headingOne' 'headingTwo' 'headingThree' 'headingFour' 'headingFive' %}">
                                    <div class="accordion-body faq-list-answer">
                                        {{ faq.answer }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                {% include "pagination.html" with page_range=page_range_bottom pagination_css="pagination-bottom" %}
            {% endif %}
        </div>
    </main>
{% endblock content %}
{% block contact %}{% endblock contact %}