<!-- lachana/templates/contents/faq_category.html -->

{% extends 'base_private_template.html' %}
{% load static %}
{% block content %}
    <main class="container text-body">
        <section class="main-section">
            <!-- Breadcrumb -->
            <div class="breadcrumb d-flex flex-row">
                <ul class="my-2 my-lg-0">
                    <li class="nav-item text-green">
                        <a href="/" class="breadcrumb-link">Accueil</a>>
                    </li>
                    <li class="nav-item">
                        <span class="breadcrumb-link">Vos questions</span>
                    </li>
                </ul>
            </div>
            <!-- End breadcrumb -->
            <div class="page-title-block">
                <h1 class="page-title">Vos questions</h1>
            </div>
            <section class="faq-category-list-container">
                <div class="faq-category-list justify-content-center">
                    <a href="{% url 'faq-list' category='buildings' %}" class="">
                        <div class="d-flex faq-category">
                            <img src="{% static 'dist/assets/img/faq-cat-1.jpg' %}" alt="xxx" class="faq-category-img" />
                            <div class="faq-category-name">Les bâtiments</div>
                        </div>
                    </a>
                    <div class="d-flex faq-category">
                        <img src="{% static 'dist/assets/img/faq-cat-2.jpg' %}" alt="xxx" class="faq-category-img" />
                        <div class="faq-category-name">Thème 2</div>
                    </div>
                    <div class="d-flex faq-category">
                        <img src="{% static 'dist/assets/img/faq-cat-3.jpg' %}" alt="xxx" class="faq-category-img" />
                        <div class="faq-category-name">Thème 3</div>
                    </div>
                    <div class="d-flex faq-category">
                        <img src="{% static 'dist/assets/img/faq-cat-4.jpg' %}" alt="xxx" class="faq-category-img" />
                        <div class="faq-category-name">Thème 4</div>
                    </div>
                    <div class="d-flex faq-category">
                        <img src="{% static 'dist/assets/img/faq-cat-5.jpg' %}" alt="xxx" class="faq-category-img" />
                        <div class="faq-category-name">Thème 5</div>
                    </div>
                    <div class="d-flex faq-category">
                        <img src="{% static 'dist/assets/img/faq-cat-6.jpg' %}" alt="xxx" class="faq-category-img" />
                        <div class="faq-category-name">Thème 6</div>
                    </div>
                </div>
            </section>
        </section>
    </main>
{% endblock content %}