<!-- lachana/templates/contents/news_detail.html -->

{% extends 'base_private_template.html' %}
{% load static %}
{% block content %}
<main class="container main-product_detail">
    <section class="main-section">
        <div class ="d-flex justify-content-between align-items-start">
            <!-- Breadcrumb -->
            <div class="breadcrumb d-flex flex-row text-darkgreen">
                <ul class="my-2 my-lg-0">
                    <li class="nav-item">
                        <a href="/" 
                        class="breadcrumb-link">Accueil</a>/
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'news-list' %}" 
                        class="breadcrumb-link">Les news</a>/
                    </li>
                    <li class="nav-item">
                        <span class="breadcrumb-link">{{ news_detail.title }}</span>
                    </li>
                </ul>
            </div>
            <!-- End breadcrumb -->
            {% if user.is_staff %}
                <div class="d-flex admin-btn-zone justify-content-end">
                    <button class="col-lg-3 align-self-center dark-btn font-0 content-update-btn"
                            onclick="window.location.href='{% url 'news-update' uuid=news_detail.uuid %}';">
                        Modifier
                    </button>
                    <button class="col-lg-3 align-self-center dark-btn font-0 content-delete-btn"
                            onclick="window.location.href='{% url 'news-delete' uuid=news_detail.uuid %}';">
                        Supprimer
                    </button>
                </div>
            {% endif %}
        </div>
        <div class="page-title-block">
            <h1 class="page-title">Les news</h1>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="messages alert alert-{{ message.tags }} d-flex align-items-center alert-dismissible fade show" role="alert" {% endif %}>
                    <i class="bi bi-check-circle-fill comment-message"></i>  {{ message }}
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <article class="news-detail justify-content-center text-body">
            <div class="news-detail-date">News du {{ news_detail.creation_date|date }}</div>
            <div class="news-detail-title">{{ news_detail.title }}</div>
            <div class="news-detail-category">Catégorie : {{ news_detail.get_category_display }}</div>
            <div class="news-detail-content">{{ news_detail.content }}</div>
            {% if news_detail.photos %}
                <div class="news-detail-img-block">
                    {% for photo in news_detail.photos.all %}
                        {% if photo.image %}
                            <img src="{{ photo.image.url }}" alt="test photo" class="news-detail-img" />
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </article>
        <div class="row content-detail-btn justify-content-between">
            {% if news_detail.get_previous_by_creation_date %}
            <div class="col-lg-3 mt-4">
                <button class="d-flex align-items-center light-btn font-0"
                        onclick="window.location.href='{% url 'news-detail' news_detail.get_previous_by_creation_date.uuid %}';"
                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Voir la news précédente (plus ancienne)">
                    <i class="bi bi-arrow-left content-detail-btn-icon content-detail-btn-icon-left"></i> News précédente
                </button>
            </div>
            {% else %}
            <div class="col-lg-3 mt-4"></div>
            {% endif %}
            <div class="col-lg-3 mt-4 d-flex justify-content-center">
                <button class="d-flex align-items-center light-btn font-0 content-nav-central-btn"
                        onclick="window.location.href='{% url 'news-list' %}';"
                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Voir toutes les news">
                    Liste des news
                </button>
            </div>
            {% if news_detail.get_next_by_creation_date %}
            <div class="col-lg-3 mt-4 d-flex justify-content-end">
                <button class="d-flex align-items-center light-btn font-0"
                        onclick="window.location.href='{% url 'news-detail' news_detail.get_next_by_creation_date.uuid %}';"
                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Voir la news suivante (plus récente)">
                    News suivante <i class="bi bi-arrow-right content-detail-btn-icon content-detail-btn-icon-right"></i>
                </button>
            </div>
            {% else %}
            <div class="col-lg-3 mt-4"></div>
            {% endif %}
        </div>
    </section>
    <hr class="separator" id="comment-anchor">
    <section class="comments-section">
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="messages alert alert-{{ message.tags }} d-flex align-items-center alert-dismissible fade show" role="alert" {% endif %}>
                    <i class="bi bi-check-circle-fill comment-message"></i>  {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row comment-area">
            <div class="col-lg-6 col-md-12 col-sm-1">
                <h3 class="comment-form-title">Laisser un commentaire sur cette news</h3>
                <form class="comment-form">
                    {% csrf_token %}
                    <input type="hidden" name="product-id" value="{{ product_detail.id }}">
                    {{ comment_form.as_p }}
                    <button type="submit" id="comment-btn" class="btn-comment d-flex justify-content-center align-items-center btn btn-link btn-choice">Commenter</button>
                </form>
            </div>
            {% if product_comments %}
                <div class="col-lg-6 col-md-12 col-sm-1">
                    {% if product_comments.paginator.num_pages > 1 %}
                        <nav class="d-flex justify-content-center pagination-comment-top">
                            <span class="d-flex align-items-center step-links">
                                {% if product_comments.has_previous %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.previous_page_number }}#comment-anchor">&lt;</a>
                                    </li>
                                {% endif %}

                                {% for i in product_comments.paginator.page_range %}
                                    {% if product_comments.number == i %}
                                        <li class="active page-item d-flex justify-content-center align-items-center">
                                            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item d-flex justify-content-center align-items-center">
                                            <a class="page-link" href="?page={{ i }}#comment-anchor">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if product_comments.has_next %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.next_page_number }}#comment-anchor">&gt;</a>
                                    </li>
                                {% endif %}
                            </span>
                        </nav>
                    {% endif %}
                    <h3 class="comment-title">Commentaire{{ product_comments.paginator.count|pluralize }} sur ce produit</h3>
                    {% for comment in product_comments %}
                        <div class="row comment">
                            <div class="comment-user">
                                {{ comment.user__username }}
                            </div>
                            <div class="comment-content">
                                {{ comment.content }}
                            </div>
                            <div class="row comment-footer">
                                <div class="col-lg-10 col-md-10 col-sm-1 comment-date">
                                    le {{ comment.creation_date|date:"d/m/Y, H:i" }}
                                </div>
                                {% if comment.user_id == user.id %}
                                    <div class="col-lg-2 col-md-2 col-sm-1 comment-delete-btn">
                                        <form class="comment-delete-form">
                                            <button type="submit" id="{{ comment.id }}" class="d-flex justify-content-center align-items-center btn btn-link btn-delete-comment"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer ce commentaire">
                                                Supprimer
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                            <hr class="comment-separator">
                        </div>
                    {% endfor %}
                    {% if product_comments.paginator.num_pages > 1 %}
                        <nav class="d-flex justify-content-center pagination-comment-bottom">
                            <span class="d-flex align-items-center step-links">
                                {% if product_comments.has_previous %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.previous_page_number }}#comment-anchor">&lt;</a>
                                    </li>
                                {% endif %}

                                {% for i in product_comments.paginator.page_range %}
                                    {% if product_comments.number == i %}
                                        <li class="active page-item d-flex justify-content-center align-items-center">
                                            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item d-flex justify-content-center align-items-center">
                                            <a class="page-link" href="?page={{ i }}#comment-anchor">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if product_comments.has_next %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.next_page_number }}#comment-anchor">&gt;</a>
                                    </li>
                                {% endif %}
                            </span>
                        </nav>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock content %}
{% block contact %}{% endblock contact %}