<!-- lachana/contentfaq/templates/contentfaq/faq_list.html -->
{% extends 'base_private_template.html' %}
{% load static %}
{% block content %}
    <main class="container text-body">
        <div class="main-section">
            <div class ="d-flex justify-content-between align-items-start page-header-misc">
                <!-- Breadcrumb -->
                <div class="breadcrumb d-flex flex-row text-darkgreen">
                    <ul class="my-2 my-lg-0">
                        <li class="nav-item">
                            <a href="/" class="breadcrumb-link">Accueil</a>/
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'faq-cat-list' %}" class="breadcrumb-link">Vos questions</a>/
                        </li>
                        <li class="nav-item">
                            <span class="breadcrumb-link">{{ current_category }}</span>
                        </li>
                    </ul>
                </div>
                <!-- End breadcrumb -->
                {% if user.is_staff %}
                    <div class="d-flex justify-content-end admin-btn-zone">
                        <button class="col-lg-4 dark-btn font-0 align-self-center"
                                onclick="window.location.href='{% url 'faq-create' %}';">
                            Créer une question
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="page-title-block">
                <h1 class="page-title">Vos questions</h1>
                <h2 class="page-subtitle">{{ current_category }}</h2>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="messages alert alert-{{ message.tags }} d-flex align-items-center alert-dismissible fade show" role="alert" {% endif %}>
                        <i class="bi bi-check-circle-fill comment-message"></i>  {{ message }}
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            {% include "pagination.html" with page_range=page_range_top pagination_css="pagination-top" %}
            {% if not faq_category %}
                <section class="intro-section">
                    <div class="main-instructions d-flex justify-content-center">
                        <span class="font-weight-bold text-body text-danger">
                            Il n'y a aucune question à afficher.
                        </span>
                    </div>
                </section>
            {% else %}
                <section class="main-section">
                    <div class="accordion open" id="faqItems">
                        {% for faq in faq_category %}
                            <div class="accordion-item">
                                <div class="accordion-header faq-list-question" id="{% cycle 'headingOne' 'headingTwo' 'headingThree' 'headingFour' 'headingFive' %}">
                                    <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#{% cycle 'collapseOne' 'collapseTwo' 'collapseThree' 'collapseFour' 'collapseFive' %}" 
                                        aria-expanded="false"
                                        aria-controls="{% cycle 'collapseOne' 'collapseTwo' 'collapseThree' 'collapseFour' 'collapseFive' %}">
                                        {{ faq.question }}
                                    </button>
                                </div>
                                <div class="accordion-collapse collapse" id="{% cycle 'collapseOne' 'collapseTwo' 'collapseThree' 'collapseFour' 'collapseFive' %}" 
                                    aria-labelledby="{% cycle 'headingOne' 'headingTwo' 'headingThree' 'headingFour' 'headingFive' %}">
                                    <div class="d-flex flex-column accordion-body faq-list-answer align-items-end">
                                        <article class="faq-content">
                                            {{ faq.answer|safe }}
                                        </article>
                                        {% if user.is_staff %}
                                            <div class="d-flex admin-btn-zone justify-content-end">
                                                <button class="col-lg-3 align-self-center dark-btn font-0 content-update-btn"
                                                        onclick="window.location.href='{% url 'faq-update' uuid=faq.uuid %}';">
                                                    Modifier
                                                </button>
                                                <button class="col-lg-3 align-self-center dark-btn font-0 content-delete-btn"
                                                        onclick="window.location.href='{% url 'faq-delete' uuid=faq.uuid %}';">
                                                    Supprimer
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                {% include "pagination.html" with page_range=page_range_bottom pagination_css="pagination-bottom" %}
            {% endif %}
        </div>
    </main>
{% endblock content %}
{% block contact %}{% endblock contact %}