<!-- lachan/users/templates/users/account_validation_success.html -->
{% extends 'base_public_template.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
<main class="container">
    <section class="main-public-message-section">
        <div class="main-public-message">
            <h1 class="font-weight-bold text-body">
                La validation de votre compte a réussi ! 
            </h1>
        </div>
    </section>
    <section class="main-section">
        <div class="main-public-text">
            <p class="text-body">
                xxx
            </p>
        </div>
    </section>
</main>
{% endblock content %}