<!-- lachana/users/templates/users/change-password.html -->
{% extends 'base_private_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main class="container">
    <section class="profile-header d-flex flex-column align-items-center text-green">
        <div class="d-flex profile-header-img-container justify-content-center align-items-center">
            {% if not user.avatar %}
                <img src="{{ MEDIA_URL }}users/default-user.png" alt="" class="profile-header-img-default img-fluid" />
            {% else %}
                <img src="{{ user.avatar.url }}" alt="" class="profile-header-img img-fluid" />
            {% endif %}
        </div>
        <h1 class="profile-header-title">{{user.first_name}} {{user.last_name}}</h1>
        <div class="d-flex profile-header-subtitle justify-content-center">Votre mot de passe a été mis à jour avec succès !</div>
        <div class="col-lg-8 d-flex flex-row justify-content-around">
            <button onclick="window.location.href='{% url 'profile' uuid=user.uuid %}';"
            class="col-lg-4 align-self-center profile-btn">Retour à mon profil</button>
            <button onclick="window.location.href='{% url 'homepage' %}';"
            class="col-lg-4 align-self-center profile-btn">Retour à l'accueil</button>
        </div>
    </section>
</main>
{% endblock content %}