<!-- lachana/templates/users/login.html -->
{% extends 'base_public_template.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
<section class="warning-section d-flex justify-content-center">
    {% if messages %}
        <div class="d-flex messages-content justify-content-center">
            {% for message in messages %}
                {% if message.tags %}
                    <p class="messages alert alert-{{ message.tags }} d-flex align-items-center alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle-fill msg-icon"></i> {{ message }}
                        <button type="button" 
                            {% if message.tags == 'error' %}
                                class="btn-close"
                            {% else %}
                                class="btn-close btn-close-white"
                            {% endif %}
                            onclick="javascript:location.reload();"
                            data-bs-dismiss="alert"
                            aria-label="Close">
                        </button>
                    </p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if form.errors %}
        <p class="login-warning text-warnings">Votre mail et votre mot de passe ne correspondent pas. Merci de réessayer.</p>
    {% endif %}
</section>
<section class="login-main-section">
    <form method="POST" class="login-form">
        {% csrf_token %}
        {{form.as_p}}
        <button class="dark-btn login-btn" type="submit">Connexion</button>
    </form>
</section>
{% endblock content %}
