<!-- lachana/users/templates/users/profile.html -->
{% extends 'base_private_template.html' %}
{% load static %}
{% block content %}
<main class="container">
    <section class="profile-header d-flex flex-column align-items-center text-green">
        <div class="d-flex profile-header-img-container justify-content-center align-items-center">
            {% if not user.avatar %}
                <img src="{{ MEDIA_URL }}users/default-user.png" alt="" class="profile-header-img-default img-fluid" />
            {% else %}
                <img src="{{ user.avatar.url }}" alt="" class="profile-header-img img-fluid" />
            {% endif %}
        </div>
        <h1 class="profile-header-title">{{user.first_name}} {{user.last_name}}</h1>
    </section>
    {% if messages %}
        <div class="d-flex profile-content justify-content-center">
            {% for message in messages %}
                <p class="messages alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle-fill msg-icon"></i> {{ message }}
                    <button type="button" class="btn-close btn-close-white" onclick="javascript:location.reload();" data-bs-dismiss="alert" aria-label="Close"></button>
                </p>
            {% endfor %}
        </div>
    {% endif %}
    <section class="d-flex flex-column profile-content">
        <div class="d-flex flex-column profile-public-content text-body">
            <div class="current-connected-user-infos">Informations publiques (visibles de tous les personnes inscrites sur le site)</div>
            <hr class="profile-separator">
            <div class="profile-label-about">A propos de moi</div>
            <div class="profile-value">blablabla{{user.about}}</div>
            <hr class="profile-separator">
            <div class="d-flex flex-row">
            <div class="profile-label">Résident de la copropriété :</div>
            {% if user.is_resident %}
                <div class="profile-value">
                    <i class="bi bi-check-square"></i>Oui
                    <i class="bi bi-square"></i>Non
                </div>
            {% else %}
                <div class="profile-value">
                    <i class="bi bi-square"></i>Oui
                    <i class="bi bi-check-square"></i>Non
                </div>
            {% endif %}
            </div>
            <hr class="profile-separator">
            <div class="d-flex flex-row">
                <div class="profile-label">Bâtiment :</div><div class="profile-value">xxx</div>
            </div>
            <hr class="profile-separator">
            <div class="d-flex flex-row">
            <div class="profile-label">Membre du conseil syndical :</div>
            {% if user.is_union_council %}
                <div class="profile-value">
                    <i class="bi bi-check-square"></i>Oui
                    <i class="bi bi-square"></i>Non
                </div>
            {% else %}
                <div class="profile-value">
                    <i class="bi bi-square"></i>Oui
                    <i class="bi bi-check-square"></i>Non
                </div>
            {% endif %}
            </div>
            <hr class="profile-separator">
        </div>
        <img src="{% static 'dist/assets/logos/logo-tree-light.png' %}" alt="logo arbre" class="profile-logo-tree" />
        {% if user.uuid == uuid %}
            <div class="d-flex flex-column profile-private-content text-body">
                <div class="current-connected-user-infos">Informations privées (visibles de vous et du Conseil Syndical seulement)</div>
                <hr class="profile-separator">
                <div class="d-flex flex-row">
                    <div class="profile-label">Email de connexion :</div><div class="profile-value">{{user.email}}</div>
                </div>
                <hr class="profile-separator">
                <div class="d-flex flex-row">
                    <div class="profile-label">Email de contact :</div><div class="profile-value">{{user.contact_email}}</div>
                </div>
                <hr class="profile-separator">
                <div class="d-flex flex-row">
                    <div class="profile-label">Téléphone :</div>
                    {% if user.phone_number %}
                        <div class="profile-value">{{user.phone_number}}</div>
                    {% else %}
                        <div class="profile-value">vous n'avez pas renseigné de numéro de téléphone</div>
                    {% endif %}
                </div>
                <hr class="profile-separator">
                <div class="d-flex flex-row">
                    <div class="profile-label last-block-element">Dernière connexion le :</div><div class="profile-value last-block-element">{{user.last_login}}</div>
                </div>
                <hr class="profile-separator">
                <div class="d-flex flex-row">
                    <div class="profile-label">Création du compte le :</div><div class="profile-value">{{user.date_joined}}</div>
                </div>
                <hr class="profile-separator">

                <button onclick="window.location.href='{% url 'profile-update' uuid=user.uuid %}';"
                class="col-lg-4 align-self-center profile-btn">Modifier mes informations</button>
            </div>
        {% endif %}
    </section>
</main>
{% endblock content %}