<!-- lachana/users/templates/users/reset_password_done.html -->
{% extends 'base_public_template.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
<section class="reset-password-main-section d-flex flex-column justify-content-centern">
    <h1 class="reset-password-header-title text-center text-green">Mot de passe oublié ou perdu</h1>
    <div class="reset-password-header-subtitle text-center text-darkgreen fw-bold">Etape 2/4 :<br>Envoi du lien de création d'un nouveau mot de passe</div>
    <p class="text-start text-body">
        Si nous connaissons l'adresse mail que vous avez indiquée, un mail vous a été envoyé avec les instructions à suivre pour créer votre nouveau mot de passe !
    </p>
</section>
{% endblock content %}