<!-- lachana/users/templates/users/reset_password_complete.html -->
{% extends 'base_public_template.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
<section class="reset-password-main-section d-flex flex-column justify-content-centern">
    <h1 class="reset-password-header-title text-center text-green">Mot de passe oublié ou perdu</h1>
    <div class="reset-password-header-subtitle text-center text-darkgreen fw-bold">Etape 4/4 :<br>Procédure terminée</div>
    <p class="text-center text-body">
        Votre nouveau mot de passe est actif !
    </p>
    <button class="dark-btn align-self-center login-redirect-btn"
            onclick="window.location.href='{% url 'login' %}';">
        Me connecter
    </button>
</section>
{% endblock content %}