<!-- lachana/templates/pages/contact.html -->
{% extends 'base_private_template.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<section class="contact-section text-body">
    <div class="page-title-block">
        <h1 class="page-title">Contact</h1>
    </div>
    <div class="contact-intro">
        <p>
            Vous pouvez utiliser ce formulaire pour nous contacter, si le site ne vous a pas permis de trouver une réponse à votre question.
        </p>
        <p>
            Attention, tous les champs sont obligatoires.
        </p>
    </div>
    <div class="contact-form">
        <form method="post">
        {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Envoyer</button>
        </form>
    </div>
</section>
{% endblock content %}