<!-- lachana/templates/pages/intentions.html -->
{% extends 'base_private_template.html' %}
{% block content %}
{% load static %}
<section class="intentions-section">
    <div class="intention">
        <h2 class="intention-title">
            Un site pour créer de nouveaux liens
        </h2>
        <p class="intention-text text-body">
            Suspendisse porta pretium leo, sit amet ultricies sem facilisis non. Suspendisse luctus nec lacus sit amet pulvinar. 
            Duis fringilla, urna eget finibus sollicitudin, lectus sapien porta nibh, non iaculis est velit id dolor. Vivamus sed lacus placerat, pellentesque sapien eu, volutpat felis. 
            Nunc dignissim quam vehicula efficitur lacinia. Vestibulum vehicula ornare metus id pellentesque. Nullam purus lorem, porttitor vel metus vel, mollis sagittis nisl. 
            Suspendisse faucibus aliquam libero quis luctus. Sed maximus risus vitae est volutpat, ut maximus libero blandit. 
            Fusce lacinia pretium mollis. Praesent id dictum ligula, vel auctor ex. Fusce dignissim neque lorem, non aliquam augue elementum feugiat.
        </p>
    </div>
    <div class="intention">
        <h2 class="intention-title">
            Un site qui répond à des questions pratiques
        </h2>
        <p class="intention-text text-body">
            Suspendisse porta pretium leo, sit amet ultricies sem facilisis non. Suspendisse luctus nec lacus sit amet pulvinar. 
            Duis fringilla, urna eget finibus sollicitudin, lectus sapien porta nibh, non iaculis est velit id dolor. Vivamus sed lacus placerat, pellentesque sapien eu, volutpat felis. 
            Nunc dignissim quam vehicula efficitur lacinia. Vestibulum vehicula ornare metus id pellentesque. Nullam purus lorem, porttitor vel metus vel, mollis sagittis nisl. 
            Suspendisse faucibus aliquam libero quis luctus. Sed maximus risus vitae est volutpat, ut maximus libero blandit. 
            Fusce lacinia pretium mollis. Praesent id dictum ligula, vel auctor ex. Fusce dignissim neque lorem, non aliquam augue elementum feugiat.
        </p>
    </div>
    <div class="intention">
        <h2 class="intention-title">
            Un site qui ne coûte rien à la copropriété
        </h2>
        <p class="intention-text text-body">
            Suspendisse porta pretium leo, sit amet ultricies sem facilisis non. Suspendisse luctus nec lacus sit amet pulvinar. 
            Duis fringilla, urna eget finibus sollicitudin, lectus sapien porta nibh, non iaculis est velit id dolor. Vivamus sed lacus placerat, pellentesque sapien eu, volutpat felis. 
            Nunc dignissim quam vehicula efficitur lacinia. Vestibulum vehicula ornare metus id pellentesque. Nullam purus lorem, porttitor vel metus vel, mollis sagittis nisl. 
            Suspendisse faucibus aliquam libero quis luctus. Sed maximus risus vitae est volutpat, ut maximus libero blandit. 
            Fusce lacinia pretium mollis. Praesent id dictum ligula, vel auctor ex. Fusce dignissim neque lorem, non aliquam augue elementum feugiat.
        </p>
    </div>
</section>
{% endblock content %}