<!-- lachana/templates/contents/faq_list.html -->

{% extends 'base_template.html' %}
{% block header %}
    <!-- Masthead-->
    <header class="simple-header d-flex align-items-center">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center">
                <div class="col">
                    
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
<main class="container text-body">
    <!-- Breadcrumb -->
    <div class="row breadcrumb">
        <ul class="navbar-nav ms-auto my-2 my-lg-0 d-flex">
            <li class="nav-item">
                <a href="/" class="breadcrumb-link text-body">Accueil</a>>
            </li>
            <li class="nav-item">
                <span class="breadcrumb-link text-body">Questions/réponses</span>
            </li>
        </ul>
    </div>
    <!-- End breadcrumb -->
    {% include "pagination.html" with page_range=page_range_top pagination_css="pagination-top" %}
    {% if object_list is none %}
        <section class="intro-section">
            <div class="main-instructions d-flex justify-content-center">
                <span class="font-weight-bold text-body text-danger">
                    Il n'y a aucune question à afficher.
                </span>
            </div>
        </section>
    {% else %}
        <section class="main-section">
            <ul>
            {% for faq in faq_list %}
                <a href="{% url 'faq-detail' pk=faq.pk %}" class="text-body">
                    <div class="content-list-item row">
                        <div class="content-list-imgblock col-1">
                            <img src="{{ MEDIA_URL }}{{faq.image.url}}" class="content-list-img" />
                        </div>
                        <div class="content-list-contentblock col-11">
                            <div class="content-list-title">{{ faq.question }}</div>
                            <div class="content-list-content">{{ faq.answer|truncatechars:400 }}</div>
                        </div>
                    </div>
                </a>
            <hr class="content-separator">
            {% endfor %}
            </ul>
        </section>
        {% include "pagination.html" with page_range=page_range_bottom pagination_css="pagination-bottom" %}
    {% endif %}
</main>
{% endblock content %}
{% block contact %}{% endblock contact %}