<!-- lachana/templates/contents/news_detail.html -->

{% extends 'base_template.html' %}
{% load static %}
{% block header %}
    <!-- Masthead-->
    <header class="simple-header d-flex align-items-center">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center">
                <div class="col">
                    
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
<main class="container main-product_detail">
    <!-- Breadcrumb -->
    <div class="row breadcrumb">
        <ul class="navbar-nav ms-auto my-2 my-lg-0 d-flex">
            <li class="nav-item">
                <a href="/" 
                class="breadcrumb-link text-body">Accueil</a>>
            </li>
            <li class="nav-item">
                <a href="{% url 'news-list' %}" 
                class="breadcrumb-link text-body">News</a>>
            </li>
            <li class="nav-item">
                <span class="breadcrumb-link text-body">{{ news_detail.title }}</span>
            </li>
        </ul>
    </div>
    <!-- End breadcrumb -->
    <section class="main-section">
        <div class="row product-detail-infos justify-content-center text-muted">
            <div class="news-detail-title">{{ news_detail.title }}</div>
            <div class="news-detail-content">{{ news_detail.content }}</div>
            <div class="news-detail-imgblock"><img src="{{ MEDIA_URL }}{{news_detail.image.url}}" class="news-detail-img" /></div>
        </div>
        <div class="row product_detail-links justify-content-center">
            <div class="d-flex justify-content-left mt-4">
                <a type="button" href="javascript:history.back()" target="_self"
                    class="d-flex align-items-center btn btn-link btn-detail-detail text-white"
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    title="Voir toutes les news">
                    <i class="bi bi-skip-backward-circle card-footer-icon card-footer-icon-mgr"></i> Retour à la liste des news
                </a>
            </div>
        </div>
    </section>
    <hr class="separator" id="comment-anchor">
    <section class="comments-section">
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="messages alert alert-{{ message.tags }} d-flex align-items-center alert-dismissible fade show" role="alert" {% endif %}>
                    <i class="bi bi-check-circle-fill comment-message"></i>  {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row comment-area">
            <div class="col-lg-6 col-md-12 col-sm-1">
                <h3 class="comment-form-title">Laisser un commentaire sur cette news</h3>
                <form class="comment-form">
                    {% csrf_token %}
                    <input type="hidden" name="product-id" value="{{ product_detail.id }}">
                    {{ comment_form.as_p }}
                    <button type="submit" id="comment-btn" class="btn-comment d-flex justify-content-center align-items-center btn btn-link btn-choice">Commenter</button>
                </form>
            </div>
            {% if product_comments %}
                <div class="col-lg-6 col-md-12 col-sm-1">
                    {% if product_comments.paginator.num_pages > 1 %}
                        <nav class="d-flex justify-content-center pagination-comment-top">
                            <span class="d-flex align-items-center step-links">
                                {% if product_comments.has_previous %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.previous_page_number }}#comment-anchor">&lt;</a>
                                    </li>
                                {% endif %}

                                {% for i in product_comments.paginator.page_range %}
                                    {% if product_comments.number == i %}
                                        <li class="active page-item d-flex justify-content-center align-items-center">
                                            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item d-flex justify-content-center align-items-center">
                                            <a class="page-link" href="?page={{ i }}#comment-anchor">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if product_comments.has_next %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.next_page_number }}#comment-anchor">&gt;</a>
                                    </li>
                                {% endif %}
                            </span>
                        </nav>
                    {% endif %}
                    <h3 class="comment-title">Commentaire{{ product_comments.paginator.count|pluralize }} sur ce produit</h3>
                    {% for comment in product_comments %}
                        <div class="row comment">
                            <div class="comment-user">
                                {{ comment.user__username }}
                            </div>
                            <div class="comment-content">
                                {{ comment.content }}
                            </div>
                            <div class="row comment-footer">
                                <div class="col-lg-10 col-md-10 col-sm-1 comment-date">
                                    le {{ comment.creation_date|date:"d/m/Y, H:i" }}
                                </div>
                                {% if comment.user_id == user.id %}
                                    <div class="col-lg-2 col-md-2 col-sm-1 comment-delete-btn">
                                        <form class="comment-delete-form">
                                            <button type="submit" id="{{ comment.id }}" class="d-flex justify-content-center align-items-center btn btn-link btn-delete-comment"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer ce commentaire">
                                                Supprimer
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                            <hr class="comment-separator">
                        </div>
                    {% endfor %}
                    {% if product_comments.paginator.num_pages > 1 %}
                        <nav class="d-flex justify-content-center pagination-comment-bottom">
                            <span class="d-flex align-items-center step-links">
                                {% if product_comments.has_previous %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.previous_page_number }}#comment-anchor">&lt;</a>
                                    </li>
                                {% endif %}

                                {% for i in product_comments.paginator.page_range %}
                                    {% if product_comments.number == i %}
                                        <li class="active page-item d-flex justify-content-center align-items-center">
                                            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item d-flex justify-content-center align-items-center">
                                            <a class="page-link" href="?page={{ i }}#comment-anchor">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if product_comments.has_next %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.next_page_number }}#comment-anchor">&gt;</a>
                                    </li>
                                {% endif %}
                            </span>
                        </nav>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock content %}
{% block contact %}{% endblock contact %}